

#container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    width: 700px;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    perspective: 1000px;
  }

  #container div {
    height: 180px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.cardselector img {
      width: auto;
      height: 180px;
  }

.matched img {
    opacity: 0.5;
}

.cardvalue {
    display: none;
}
.cardselector {
    transform-style: preserve-3d;
    transition: transform .5s;
    margin-top: 15px;
}

.flip {
    transform: rotateY(180deg)
}

.hide {
    transition: transform .5s;
    display: none;
}

.reveal {
    display: block;
    width: auto;
    height: 180px;
    transform: scaleX(-1);
}

.matched {
    transform: scaleX(-1);
    transition: transform 0s;
}

.flip {
    display: none;
}

#title {
    text-align: center;
}

#matches {
    text-align: center;
}